<?xml version="1.0"?>
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="ImprintCMSConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=ImprintCMS;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <caching>
      <sqlCacheDependency enabled="true">
        <databases>
          <add name="ImprintCMS" connectionStringName="ImprintCMSConnectionString" pollTime="500"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    <httpRuntime maxRequestLength="524288000"/>
    <authentication mode="Forms">
      <forms loginUrl="~/account/login" timeout="2880" name="ImprintCMSAuth" slidingExpiration="true">
        <credentials passwordFormat="Clear">
          <user name="imprint" password="imprint"/>
        </credentials>
      </forms>
    </authentication>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="4.0.0.0-4.0.0.1" newVersion="4.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>