<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ImprintCMSConnectionString"
			connectionString="Data Source=REPLACE_WITH_YOUR_SQLSERVER;Initial Catalog=ImprintCMS;User ID=REPLACE_WITH_YOUR_SQLUSERNAME;Password=REPLACE_WITH_YOUR_SQLPASSWORD"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp>
        <network host="REPLACE_WITH_YOUR_SMTPSERVER"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication mode="Forms">
      <forms>
        <credentials passwordFormat="Clear">
          <user name="REPLACE_WITH_YOUR_ADMINUSERNAME" password="REPLACE_WITH_YOUR_ADMINPASSWORD" xdt:Transform="Replace"/>
        </credentials>
      </forms>
    </authentication>
  </system.web>
</configuration>