@model OrderReceipt
@{
    ViewBag.Title = SitePhrases.MenuShop;
}
<h1>@SitePhrases.HeadingShopReceipt</h1>
@if (Model.ReceiptSentSuccessfully)
{
    <p>@String.Format(SitePhrases.LabelShopOrderReceiptEmailSuccess, Model.Order.Email)</p>
}
else
{
    <p>@String.Format(SitePhrases.LabelShopOrderReceiptEmailFailure, Model.Order.Email)</p>
}
<p>@String.Format(SitePhrases.LabelShopReceipt, Model.Order.Id)</p>
