@model IEnumerable<Book>
@{
	ViewBag.Title = Phrases.PagenameBooks;
}
@foreach (var group in Model.GroupBy(m => m.Genre).OrderBy(g => g.Key.SequenceIdentifier))
{
	<h2>@group.Key.Name</h2>
	<ul>
		@foreach (var book in group)
  {
			<li>@Html.ActionLink(book.FullTitle, "details", new { id = book.Id })</li>
  }
	</ul>
}
