body { font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif; color: #000000; background-color: #ffffff; font-size: 0.85em; }
header, footer, nav, section { display: block; }

a { color: #4880e3; text-decoration: none; }
a:hover { text-decoration: underline; }

fieldset { border: none; margin: 0; padding: 0; }
fieldset.login label { font-weight: bold; }
textarea { min-height: 100px; }

.field-validation-error { color: #ff0000; }
.field-validation-valid { display: none; }
.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }
.validation-summary-errors { font-weight: bold; color: #ff0000; }
.validation-summary-valid { display: none; }
