#editshortcut {
    position: fixed;
    bottom: 0;
    right: 1em;
    padding: 1em;
    background: #ffa500;
    border-radius: 0.5em 0.5em 0 0;
    color: rgba(255,255,255,0.5);
    font-family: sans-serif;
    z-index: 99;
}

    #editshortcut a {
        color: rgba(255,255,255,0.5);
        text-decoration: none;
    }

        #editshortcut a:hover {
            color: rgba(255,255,255,1);
            text-decoration: none;
        }
