body { font-family: Calibri, Arial, Helvetica, Sans-Serif; color: #000000; background-color: #eeeeee; font-size: 0.85em; margin: 20px; }
header, footer, nav, section { display: block; }

a { color: #4880e3; text-decoration: none; }
a:hover { text-decoration: underline; }

header { width: 920px; padding: 30px; margin: 0 auto; }
header h1 { margin: 0; padding: 0; width: 170px; height: 100px; text-indent: -9999em; background: url(site_layout/logo.png) no-repeat; }

#sitemenu { width: 940px; padding: 0 20px; height: 30px; overflow: hidden; margin: 0 auto; }
#sitemenu ul { list-style-type: none; margin: 0; padding: 0; }
#sitemenu ul li { margin: 0 10px 0 0; float: left; }
#sitemenu ul li a { color: #808080; background: #cccccc; display: block; line-height: 20px; padding: 5px 15px; border-radius: 4px 4px 0 0; }
#sitemenu ul li a:hover { text-decoration: none; color: #000000; background-color: #ffffff;}
#sitemenu ul li.selected a { color: #000000; background-color: #ffffff;}

#content { width: 910px; padding: 20px 35px; margin: 0 auto; background: #ffffff; border-radius: 4px; }

footer { width: 940px; padding: 20px; margin: 0 auto; color: #808080; }
footer a { color: #808080; }

