@model IEnumerable<Binding>
@{
	ViewBag.Title = Phrases.PagenameBindings;
	ViewBag.Breadcrumbs = new[] {
		Phrases.PagenameBindings.ToHtmlString()
	};
}
<ul class="adminactions">
	<li>@Html.ActionLink(Phrases.PagenameCreateBinding, "createbinding")</li>
</ul>
<ul class="listing">
	@foreach (var binding in Model)
 {
		<li><span class="name">@Html.ActionLink(binding.Name, "editbinding", new { id = binding.Id })</span>
			@Html.ActionLink(Phrases.LabelDelete, "deletebinding", new { id = binding.Id })</li>
 }
</ul>
