@model FileUpload
@{
	ViewBag.Title = String.Format("{0} {1}", Phrases.LabelCreate, Model.FileCategory);
	ViewBag.Breadcrumbs = new[] {
		Html.ActionLink(Phrases.PagenameUploads, "uploads"),
		Html.ActionLink(Model.FileCategory, "uploadcategory", new { id = Model.FileCategory }),
		Phrases.LabelCreate.ToHtmlString()
	};
}
<form action="" method="post" enctype="multipart/form-data">
@Html.ValidationSummary(true)
<fieldset class="fields">
	<p>
		<label for="file">@Phrases.LabelSelectFile</label><br />
		<input type="file" name="file" id="file" />
	</p>
</fieldset>
<fieldset class="hidden">
	@Html.HiddenFor(model => model.FileCategory)
</fieldset>
<fieldset class="submit">
	<p>
		<input type="submit" value="@Phrases.LabelSubmit" />
	</p>
</fieldset>
</form>
