@model Order
@{
    ViewBag.Title = Phrases.PagenameDelete;
    ViewBag.Breadcrumbs = new[] {
		Html.ActionLink(Phrases.PagenameOrders, "orders"),
		Phrases.LabelDelete.ToHtmlString()
	};
}
<p>@Html.DeleteConfirmation(String.Format("{0}: {1} ({2})", Model.Id, Model.Name, Model.Email))</p>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="@Phrases.LabelDelete" />
        @Html.ActionLink(String.Format(Phrases.LabelBackTo, Phrases.PagenameOrders), "orders")
    </p>
}
