@model ContactArticle
@{
    ViewBag.Title = Phrases.PagenameDelete;
    ViewBag.Breadcrumbs = new[] {
Html.ActionLink(Model.Title, "editcontactarticle", new { id = Model.Id }),
Phrases.LabelDelete.ToHtmlString()
};
}
<p>@Html.DeleteConfirmation(Model.Title)</p>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="@Phrases.LabelDelete" />
        @Html.ActionLink(String.Format(Phrases.LabelBackTo, Phrases.PagenameEditContactArticle), "editcontactarticle", new { id = Model.Id })
    </p>
}
