@model Article
@{
    ViewBag.Title = Phrases.PagenameDelete;
    ViewBag.Breadcrumbs = new[] {
		Html.ActionLink(Phrases.PagenameArticles, "articles"),
		Html.ActionLink(Model.Title, "editarticle", new { id = Model.Id }),
		Phrases.LabelDelete.ToHtmlString()
	};
}
<p>@Html.DeleteConfirmation(Model.Title)</p>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="@Phrases.LabelDelete" />
        @Html.ActionLink(Phrases.LabelCancel, "editarticle", new { id = Model.Id })
    </p>
}
