@{
	ViewBag.Title = Phrases.PagenameAdmin;
	ViewBag.Breadcrumbs = new[] {
		Phrases.PagenameAdmin.ToHtmlString()
	};
}
<ul class="adminactions">
	<li>@Html.ActionLink(Phrases.PagenameUploads, "uploads")</li>
	<li>@Html.ActionLink(Phrases.PagenameBindings, "bindings")</li>
	<li>@Html.ActionLink(Phrases.PagenameGenres, "genres")</li>
	<li>@Html.ActionLink(Phrases.PagenameRoles, "roles")</li>
</ul>
