@model IEnumerable<Order>
@{
    ViewBag.Title = Phrases.PagenameOrders;
    ViewBag.Breadcrumbs = new[] {
		Phrases.PagenameOrders.ToHtmlString()
	};
}
<ul class="listing">
    @foreach (var order in Model)
    {
        <li><span class="name">@Html.ActionLink(String.Format("{0} ({1})", order.Name, order.Email), "order", new { id = order.Id })</span>
            <span class="data">@String.Format("{0:D}", order.ClosedAt)</span> <span class="data">@String.Format("{0}: {1}", Phrases.LabelOrderId, order.Id)</span>
            @Html.ActionLink(Phrases.LabelDelete, "deleteorder", new { id = order.Id })</li>
    }
</ul>
