@model BookListMembership
@{
	ViewBag.Title = Phrases.PagenameRemove;
	ViewBag.Breadcrumbs = new[] {
		Html.ActionLink(Phrases.PagenameBookLists, "booklists"),
		Html.ActionLink(Model.BookList.Title, "editbooklist", new { id = Model.BookListId }),
		Phrases.LabelRemove.ToHtmlString()
	};
}
<p>@Html.RemoveConfirmation(Model.Edition.Name, Model.BookList.Title)</p>
@using (Html.BeginForm())
{
	<p>
		<input type="submit" value="@Phrases.LabelRemove" />
		@Html.ActionLink(String.Format(Phrases.LabelBackTo, Model.BookList.Title), "editbooklist", new { id = Model.BookListId })
	</p>
}
