@model FileUpload
@{
	ViewBag.Title = "New upload";
	ViewBag.Breadcrumbs = new[] {
		Html.ActionLink("Uploads", "index"),
		"New upload".ToHtmlString()
	};
}
<form action="" method="post" enctype="multipart/form-data">
@Html.ValidationSummary(false)
<fieldset>
	<p>
		<label for="file">
			Choose file</label><br />
		<input type="file" name="file" id="file" />
	</p>
	<p>
		@Html.LabelFor(model => model.FileCategory, "Category")<br />
		@Html.DropDownListFor(model => model.FileCategory, (SelectList)ViewBag.FileCategories)
	</p>
	<p>
		<input type="submit" value="OK" />
	</p>
</fieldset>
</form>
