@model IEnumerable<Person>
@{
	ViewBag.Title = Phrases.SitemenuAuthors;
}
<ul>
	@foreach (var person in Model)
 {
		<li>@Html.ActionLink(person.ReverseName, "details", new { id = person.Id })</li>
 }
</ul>
