@model IEnumerable<Person>
@{
	ViewBag.Title = Phrases.SitemenuAuthors;
}
<div id="authorlisting">
	@foreach (var group in Model.GroupBy(p => p.LastName.Substring(0, 1)))
 {
		<h2>@group.Key</h2>
		<ul>
			@foreach (var person in group)
   {
				<li>@Html.ActionLink(person.ReverseName, "details", new { id = person.Id })</li>
   }
		</ul>
 }
</div>
