@model ArticleGroup
@{
    ViewBag.Title = SitePhrases.MenuContact;
}
@foreach (var article in Model.ContactArticles.OrderBy(_ => _.SequenceIdentifier))
{
    <article>
        <h1>@article.Title</h1>
        @article.BodyText.ToRichText()

    </article>
}
