@model ArticleGroup
@{
    ViewBag.Title = Model.Title;
}
@foreach (var article in Model.ContactArticles.OrderBy(_ => _.SequenceIdentifier))
{
    <article>
        <h1 id="@string.Format("article{0}", article.Id)">@article.Title</h1>
        @article.BodyText.ToRichText()
    </article>
}
